.colory{
    background-color: yellow;
}
.colorg{
    background-color: greenyellow;
}
.colorr{
    background-color: red;
}
.row{
    border: 1px solid black;
}
div{
        border: 1px solid black;
}
